html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: black;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.box1{
  position: absolute;
  top: 150px;
  left: 150px;
  width: 150px;
  height: 150px;
  background-image: linear-gradient(#ff2e63,#007fff,#ff2e63);
}
.box2{
  position: absolute;
  top: 150px;
  left: 550px;
  width: 150px;
  height: 150px;
  background-image: radial-gradient(#ff2e63,#007fff,#ff2e63,#007fff);
}
.box{
  position: absolute;
  top: 250px;
  left: 520px;
  width: 150px;
  height: 150px;
  background-image: radial-gradient(#ff2e63,#007fff,#ff2e63,#007fff);
  z-index: -1;
}
.img{
  position: absolute;
  width: 400px;
  top: 170px;
  right: 150px;
}
.buttons{
  display: grid;
  width: 150px;
  gap: 50px;
  padding: 30px;
}
button{
  padding: 10px;
}
line{
  stroke-width: 10px;
}
.curvy{
  margin: 60px;
}
.svg{
  display: flex;
  height: 150px;
  width: 150px;
  justify-content: center;
  align-items: center;
  opacity: .4;
}
svg{

  width: 100px;
  height: 100px;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
